$blue-color: #2277F6;
$dark-blue-color: #0B4DB0;
$white-color: #fff;
$dak-gray-color: #080D13;
$light-bule-color: #EEF2F9;
$orange-color: #F05E30;
$dark-blue-color-2: #415067;

/* Dark Theme */
$dt-dark-blue-color: #1f1f29;
$dt-semi-blue-color: #3e3e43;
$dt-dark-gray-color: #292929;
$dt-gray-color: #5d5c5d;
/* Dark Theme End */

$fonts-path: "../fonts"; 
$images-path: "../images"; 

$base-font:  'Plus Jakarta Sans', sans-serif;

$title-size: 24px;
$large-size: 18px;
$base-size: 16px;
$medium-size: 14px;
$small-size: 12px;
$tiny-size: 10px;

$xxl-title-size: 30px;
$xxl-large-size: 22px;
$xxl-base-size: 18px;
$xxl-medium-size: 17px;
$xxl-small-size: 15px;
$xxl-tiny-size: 13px;