.right-side{
	background: $dt-dark-gray-color;
	
	.mail-back{
		background: url("#{$images-path}/arrow-mail-back-white.svg") no-repeat left top;
	}
	
	.email-content-top-left{
		.sender-name{
			color: $white-color;
		}
		
		.sender-detail-dropdown{
			.btn-secondary{
				color: $white-color;
				background: url("#{$images-path}/icon-arrow-down-white.svg") no-repeat right -1px;
			}
			
			.dropdown-menu{
				background: $dt-gray-color;
				
				li{
					color: $white-color;
				}
			}
		}
	}
	
	.email-content-top-right{
		.button-group{
			button{
				&.back{
					background: url("#{$images-path}/icon-back-white.svg") no-repeat left top;
					opacity: 0.4;
					background-size: 24px;
				}

				&.next{
					background: url("#{$images-path}/icon-next-white.svg") no-repeat left top;
					opacity: 0.4;
					background-size: 24px;
				}

				&.star{
					background: url("#{$images-path}/icon-star-yellow.svg") no-repeat left top;
					opacity: 1;
					background-size: 24px;
				}

				&.delete{
					background: url("#{$images-path}/icon-delete-white.svg") no-repeat left top;
					opacity: 0.4;
					background-size: 24px;
				}
			}
		}
		.content-list-menu{
			.btn-secondary{
				background: url("#{$images-path}/icon-ellipsis-white.svg") no-repeat left top;
			}
			
			.dropdown-menu{
				background: $dt-gray-color;
				li{
					button{
						color: $white-color;
					}
				}
			}
		}
	}
}